
@{
    ViewBag.Title = "Apostolate";
}
<div class="" style="background-color:#3c8dbc;padding:10px;color:#ffffff;">
    <h3 style="text-align:center;">Apostolate</h3>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="">

                <div class="">
                    <ul class="circle-container">
                        <li>
                            <a href="@Url.Action("GenerateAndConference", "Apostolate")">
                                <acronym title="as soon as possible" style="font-size:33px;"> <img src="~/Content/images/DMMMC-6.png" /></acronym>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Education", "Apostolate")">
                                <img src="~/Content/images/DMMMC-2.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Hospitals", "Apostolate")">
                                <img src="~/Content/images/DMMMC-1.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Caregiving", "Apostolate")">
                                <img src="~/Content/images/DMMMC-8.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Farming", "Apostolate")">
                                <img src="~/Content/images/DMMMC-5.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Spirituality", "Apostolate")">
                                <img src="~/Content/images/DMMMC-3.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Banking", "Apostolate")">
                                <img src="~/Content/images/DMMMC-7.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Orphanage", "Apostolate")">
                                <img src="~/Content/images/DMMMC-4.png" />
                            </a>
                        </li>

                        <li>
                            <div style="text-align:center;">
                                <p class="" style="color:#3c8dbc;font-size:22px;text-shadow:1px 1px 1px #2a4765;font-weight:bolder;">Ecce Ancilla Domini... Fiat</p>
                            </div>
                        </li>

                    </ul>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header">
                    The Apostolate
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ecce Ancilla Domini... Fiat</h5>
                    <p class="card-text">We care for orphans and abandoned children in Orphanages and cater for the physically challenged in Handicapped Centers. We undertake School, Medical, Social and Pastoral work. Besides, we look after the aged in Nursing/Retirement Homes. </p>
                </div>
                <div class="card-footer text-muted">
                    <i class="fa fa-arrow-down"></i> More
                </div>
            </div>
        </div>


        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="" style="padding:30px 20px;">
                    <h3 class="card-title">
                        Poor and Needy Apostolate
                    </h3>
                    <p class="card-text">
                        Our apostolate to the poor and the needy takes precedence over all other apostolates. The zeal to care for the poor and needy makes us to seek them out in their homes, in schools, hospitals, and on the streets, and assist them as much as our resources could permit. We appeal on behalf of the poor, solicit material and financial assistance from the rich to give to the poor. We care for the poor and needy in orphanages, motherless babies’ homes, special centers for the physically and mentally challenged, and so forth.
                        <a href="#" class="btn btn-primary btn-xs">
                            Know More
                        </a>
                    </p>
                    <br />

                    <h3 class="card-title"> Healing Apostolate</h3>
                    <p class="card-text">
                        In our healing apostolate, we strive towards the healing of the whole human person, the soul, the spirit, the mind, and the body. We carry out our healing activities in an empathetic, kind, gentle, and pastoral manner, for it is our conviction that in addition to the required medication for the sick, a gentle touch, a soft soothing voice, and a tender loving care, contribute and help in alleviating the sufferings and/or healing of the sick. In our healing apostolate, we work in hospitals, nursing homes, group homes, private homes, clinics, etc.
                        <a href="#" class="btn btn-primary btn-xs">
                            Know More
                        </a>
                    </p>

                    <br />
                    <h3 class="card-title">
                        Education Apostolate
                    </h3>
                    <p class="card-text">
                        In our teaching apostolate, we make it our primary objective to impart sound moral and spiritual values, taking note of advances in psychological, pedagogical and intellectual sciences.

                        In other words, our teaching apostolate entails the integral education of the whole human person, nurturing and inculcating in persons proper ethical values, virtues, and morals that would enable them to be good citizens who will in turn make meaningful contributions to the society.
                        <a href="#" class="btn btn-primary btn-xs">
                            Know More
                        </a>
                    </p>
                    <br />
                    <h3 class="card-title">Spiritual Apostolate</h3>
                    <p class="card-text">
                        In our Pastoral Apostolate we assist in the coordination of the pastoral activities of the church; giving spiritual guidance and counseling to the faithful; coordinating pious societies, preparing candidates for the reception of the various church sacraments. We work as Hospital Chaplains, Spiritual directors, Eucharistic Ministers, Social workers, etc., for the spiritual and social welfare of all.
                        <a href="#" class="btn btn-primary btn-xs">
                            Know More
                        </a>
                    </p>



                </div>
            </div>
        </div>
    </div>
</div>


@using MainDMMM.Areas.DataService
@{

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    Logger.log(User.Identity.Name, url.ToString());

}