@model PagedList.IPagedList<MainDMMM.Models.Entities.Event>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Calendar";
}
<div class="" style="background-color:#3c8dbc;padding:10px;color:#ffffff;">
    <h3 style="text-align:center;">DMMMC Calender</h3>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4"></div>
</div>

<div class="container" style="">
    <div class="row">
        <div class="col-md-3">
            <h3 style="padding-bottom:5px;border-bottom:2px solid #3c8dbc;">Events</h3>

            <div class="panel">
                @foreach (var item in Model)
                {
                    <div class="panel-body" style="text-align:left;border-bottom:1px solid #3c8dbc;padding:5px 15px;padding-left:0px;">
                        <h4 style="color:#3c8dbc;">@item.Subject</h4>
                        <p style="line-height:1.2;">@item.DIscription</p>
                        <p>@item.Start.ToString("dd-MMMM-yyyy")</p>
                    </div>
                }
                <div>

                    <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

                    @Html.PagedListPager(Model, page => Url.Action("Calendar",
    new { page }))
                </div>
            </div>


        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div id="calendar"></div>
                </div>
            </div>

        </div>
    </div>


</div>


@section Scripts {
    <script src="~/Content/Admin/bower_components/moment/moment.js"></script>
    <script src="~/Content/Admin/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Content/Admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script>


        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/home/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Subject,
                            description: v.Description,
                            start: moment(v.Start),
                            end: v.End != null ? moment(v.End) : null,
                            backgroundColor: v.ThemeColor,
                            allDay: v.IsFullDay
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })
            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    buttonText: {
                        today: 'today',
                        month: 'month',
                        week: 'week',
                        day: 'day'
                    },
                    //Random default events
                    events: events,
                    editable: true,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                        console.log("pouy");
                    }
                })
            }
        })
    </script>
    <script>
        $('.my-colorpicker1').colorpicker()
    </script>

}