@model IEnumerable<MainDMMM.Models.Entities.SchoolPortalData>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i> School List</h3>

                <div class="box-tools">
                    
                       
                        @Html.ActionLink("Refresh All", "RefreshAll", null, new { @class = "btn btn-primary", style = "padding: 7px;" })

                </div>
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["success"]
                    </div>
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-hover" border="1">

                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>
                                School Name
                            </th>
                            <th>Type</th>
                            <th>
                                Head Teacher/Principal
                            </th>
                            <th>Session</th>
                            <th>Results</th>
                            <th>Batch Printing</th>
                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 0;
                        }
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @{ sno++; }
                                @sno
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SchoolName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SchoolType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SchoolCurrentPrincipal)
                            </td>
                            

                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentSession)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.TotalResultsCount)
                            </td>
                            <td>
                                @if (item.BatchResultPrint == "true")
                                {
                                    <span>Batch Print</span>
                                }
                                else
                                {
                                    <span>None</span>
                                }
                                   
                            </td>
                           

                            <td>

                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                                        <li> @Html.ActionLink("Refresh", "RefreshSingleSchool", new { url = item.PortalUrl })</li>
                                        <li>@Html.ActionLink("sessions", "SchoolSessions", new { url = item.PortalUrl })</li>
                                    </ul>
                                </div>

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>




@section Style {

    <link rel="stylesheet" href="http://exwhyzee.ng/libraries/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section Scripts {
    <!-- DataTables -->
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://exwhyzee.ng/libraries/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

}

@section Scripts2 {
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}



