<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Daughters Of Mary Mother of Mercy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/mother-of-mercy.png" type="image/x-icon" />

    <meta content="Daughters Of Mary Mother of Mercy, To work for the glory of God, the honour of the ever Blessed Virgin Mary, for the sanctification of its members and the salvation of souls" name="description">
    <meta content="online, bulletin, mass, sunday reading, missal, prayer, fasting, feast, st, dmmm, daughets, mary, mother, mercy, congregation, congromorate, genorate, convent, convention" name="keywords">
    <meta content="dmmm" name="author">
    <meta content="English" name="language">
    <link rel="canonical" href="https://www.dmmmg.org/">
    <link rel="alternate" href="https://www.dmmmg.org/" hreflang="en-us">
    <meta property="og:title" content="Daughters Of Mary Mother of Mercy">
    <meta property="og:description" content="Daughters Of Mary Mother of Mercy | To work for the glory of God, the honour of the ever Blessed Virgin Mary, for the sanctification of its members and the salvation of souls">
    <meta property="og:url" content="https://www.dmmmg.org/">
    <meta property="og:site_name" content="Daughters Of Mary Mother of Mercy">
    <meta property="og:image" content="https://dmmmg.org/Content/dmmblue.png">
    <meta property="og:locale" content="en_us">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="Summery">
    <meta name="twitter:site" content="https://www.dmmmg.org/">

    <meta name="language" content="en-us">
    <meta name="owner" content="dmmm">
    <meta name="distribution" content="GLOBAL">
    <meta name="city" content="Abia">
    <meta name="country" content="NG">
    <meta name="geo.placename" content="Abia">
    <meta name="rating" content="general">
    <meta name="copyright" content="Daughters Of Mary Mother of Mercy copyright © 2019">
    <meta name="DC.Publisher" content="Daughters Of Mary Mother of Mercy">



    <link href="~/Content/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome -->
    <link href="~/Content/client/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/client/css/chocolat.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/client/css/flexslider.css" type="text/css" media="screen" property="" />
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/nivo-slider/themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/nivo-slider/demo/style.css" type="text/css" media="screen" />
    <!-- fullCalendar -->
    <link rel="stylesheet" href="~/Content/Admin/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/Admin/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
    <!-- Flexslider-CSS -->
    <!-- //Gallery Css -->
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Great+Vibes&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .inner_page-banner {
            text-align: center;
            background: url(../../Content/main.jpg) no-repeat center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            min-height: 200px;
        }

        .bg1 {
            background: url(../../Content/dmmblue.png) no-repeat center;
        }

        .bg2 {
            background: url(../../Content/dmmmwhite.png) no-repeat center;
        }

        .top-nav-collapse ul li a:hover {
            color: #ffffff !important;
        }

        .navbar-nav li a {
            /*text-shadow:1px 1px 1px #ffffff;*/
            font-weight: 900 !important;
        }

        .navbar-nav > li {
            margin: 8px 4px;
            padding: 3px 2px;
        }

        .nav > li > a {
            padding: 10px 8px;
        }


        .theme-default .nivoSlider {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        @@media (max-width: 435px) {
            .dmmm-title {
                font-size: 18px;
                font-weight: 700;
            }
        }

        @@media (min-width: 435px) {
            .dmmm-title {
                font-size: 28px;
                font-weight: 800;
            }
        }

        .dropdown-menu li a {
            color: #3c8dbc !important;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #3c8dbc;
            border-radius: 0.25rem;
        }

            .card > hr {
                margin-right: 0;
                margin-left: 0;
            }

            .card > .list-group:first-child .list-group-item:first-child {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }

            .card > .list-group:last-child .list-group-item:last-child {
                border-bottom-right-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
        }

        .card-title {
            margin-bottom: 0.75rem;
        }

        .card-subtitle {
            margin-top: -0.375rem;
            margin-bottom: 0;
        }

        .card-text:last-child {
            margin-bottom: 0;
        }

        .card-link:hover {
            text-decoration: none;
        }

        .card-link + .card-link {
            margin-left: 1.25rem;
        }

        .card-header {
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgba(0, 0, 0, 0.03);
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }

            .card-header:first-child {
                border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
            }

            .card-header + .list-group .list-group-item:first-child {
                border-top: 0;
            }

        .card-footer {
            padding: 0.75rem 1.25rem;
            background-color: rgba(0, 0, 0, 0.03);
            border-top: 1px solid rgba(0, 0, 0, 0.125);
        }

            .card-footer:last-child {
                border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
            }

        .card-header-tabs {
            margin-right: -0.625rem;
            margin-bottom: -0.75rem;
            margin-left: -0.625rem;
            border-bottom: 0;
        }

        .card-header-pills {
            margin-right: -0.625rem;
            margin-left: -0.625rem;
        }

        .card-img-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1.25rem;
        }

        .card-img {
            width: 100%;
            border-radius: calc(0.25rem - 1px);
        }

        .card-img-top {
            width: 100%;
            border-top-left-radius: calc(0.25rem - 1px);
            border-top-right-radius: calc(0.25rem - 1px);
        }

        .card-img-bottom {
            width: 100%;
            border-bottom-right-radius: calc(0.25rem - 1px);
            border-bottom-left-radius: calc(0.25rem - 1px);
        }

        .card-deck {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .card-deck .card {
                margin-bottom: 15px;
            }

        @@media (min-width: 576px) {
            .card-deck {
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                margin-right: -15px;
                margin-left: -15px;
            }

                .card-deck .card {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex: 1 0 0%;
                    flex: 1 0 0%;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    margin-right: 15px;
                    margin-bottom: 0;
                    margin-left: 15px;
                }
        }

        .card-group {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .card-group > .card {
                margin-bottom: 15px;
            }

        @@media (min-width: 576px) {
            .card-group {
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
            }

                .card-group > .card {
                    -ms-flex: 1 0 0%;
                    flex: 1 0 0%;
                    margin-bottom: 0;
                }

                    .card-group > .card + .card {
                        margin-left: 0;
                        border-left: 0;
                    }

                    .card-group > .card:not(:last-child) {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                        .card-group > .card:not(:last-child) .card-img-top,
                        .card-group > .card:not(:last-child) .card-header {
                            border-top-right-radius: 0;
                        }

                        .card-group > .card:not(:last-child) .card-img-bottom,
                        .card-group > .card:not(:last-child) .card-footer {
                            border-bottom-right-radius: 0;
                        }

                    .card-group > .card:not(:first-child) {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                        .card-group > .card:not(:first-child) .card-img-top,
                        .card-group > .card:not(:first-child) .card-header {
                            border-top-left-radius: 0;
                        }

                        .card-group > .card:not(:first-child) .card-img-bottom,
                        .card-group > .card:not(:first-child) .card-footer {
                            border-bottom-left-radius: 0;
                        }
        }

        .card-columns .card {
            margin-bottom: 0.75rem;
        }

        @@media (min-width: 576px) {
            .card-columns {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
                -webkit-column-gap: 1.25rem;
                -moz-column-gap: 1.25rem;
                column-gap: 1.25rem;
                orphans: 1;
                widows: 1;
            }

                .card-columns .card {
                    display: inline-block;
                    width: 100%;
                }
        }

        .accordion > .card {
            overflow: hidden;
        }

            .accordion > .card:not(:first-of-type) .card-header:first-child {
                border-radius: 0;
            }

            .accordion > .card:not(:first-of-type):not(:last-of-type) {
                border-bottom: 0;
                border-radius: 0;
            }

            .accordion > .card:first-of-type {
                border-bottom: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .accordion > .card:last-of-type {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .accordion > .card .card-header {
                margin-bottom: -1px;
            }
    </style>

    @RenderSection("Style", required: false)

</head>

<body style="font-family: 'Open Sans', sans-serif;">

    @*inner_page-banner*@

    <div class="header" style="padding:0px;" data-spy="scroll">
        <div class="content white">
            <nav class="navbar fixed-navbar" style="width:100%;border-radius:0px;">
                <div class="container-fluid">
                    <div class="navbar-header" style="float:left;margin-left:10px;">
                        <button type="button" style="margin-right:10px;" class="navbar-toggle nav-color1" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar nav-color11"></span>
                            <span class="icon-bar nav-color11"></span>
                            <span class="icon-bar nav-color11"></span>
                        </button>
                        <a class="logo" href="/">

                            <img src="~/Content/dmmmwhite.png" style="max-height:50px;margin-top:8px;" class="img-responsive" />
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li class="">
                                    @Html.ActionLink("Home", "Main", "Home", new { area = "" }, new { @class = "effect-3" })

                                </li>

                                <li>
                                <li class="dropdown">
                                    <a href="@Url.Action("About", "Home", new { area = "" })" class="dropdown-toggle" data-toggle="dropdown">
                                        About Us
                                        <i class="caret"></i>
                                    </a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#history" class="effect-3">History</a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#mission" class="effect-3">Mission</a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#founder" class="effect-3">Father Founder</a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#mothergen" class="effect-3">Mother General</a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#offices" class="effect-3">DMMM Offices</a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#advent" class="effect-3">Our Advent</a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#regionalprayer" class="effect-3">Regional Prayer</a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#beatification" class="effect-3">Beatification Prayer</a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#sistersinperpetualvows" class="effect-3">Sisters in perpetual vows</a>
                                        </li>

                                        <li>

                                            <a href="@Url.Action("About", "Home", new { area = "" })#necrology" class="effect-3">Necrology</a>
                                        </li>


                                    </ul>
                                </li>
                                <li>
                                    @Html.ActionLink("Apostolate", "Apostolate", "Home", new { area = "" }, new { @class = "effect-3" })
                                </li>
                                <li>
                                    @Html.ActionLink("Regions", "Region", "Home", new { area = "" }, new { @class = "effect-3" })
                                </li>
                                <li>
                                    @Html.ActionLink("Calendar", "Calendar", "Home", new { area = "" }, new { @class = "effect-3" })
                                </li>
                                <li>
                                    @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "effect-3" })
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Publications
                                        <i class="caret"></i>
                                    </a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li>

                                            @Html.ActionLink("News", "News", "Publications", null, new { @class = "" })
                                        </li>
                                        <li>

                                            @Html.ActionLink("Video", "Videos", "Publications", null, new { @class = "" })
                                        </li>
                                        <li>

                                            @Html.ActionLink("Projects", "Projects", "Publications", null, new { @class = "" })
                                        </li>
                                    </ul>
                                </li>
                                @*<li>
            @Html.ActionLink("Portal", "Index", "Portal", new { area = "AdminPanel" }, new { @class = "effect-3" })
        </li>*@
                                <li>
                                    @Html.ActionLink("Check Result", "CheckResult", "Result", new { area = "" }, new { @class = "effect-3" })
                                </li>
                                <li>
                                    @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "effect-3" })
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--/.navbar-collapse-->
                    <!--/.navbar-->
                </div>
            </nav>
        </div>
    </div>
    @{
        string url = HttpContext.Current.Request.Url.AbsoluteUri;
        // http://localhost:1302/TESTERS/Default6.aspx


    }

    @*style="border-bottom:1px solid #3c8dbc;padding:0px;"*@
    @if (url.ToLower().Contains("/home/main"))
    {
        @Html.Action("_Slider", "Home")
    }
    else
    {
        <div class="inner_page-banner">
            @*  <img src="~/Content/images/mary123.jpg" />*@
        </div>
    }
    @RenderBody()


    <!-- footer -->
    <footer>
        <div class="w3ls-footer-grids" style="background-image:url(../../Content/images/footer.png);background-repeat:no-repeat;background-size:cover;">
            <div class="container" style="color:#FFFFFF !important;">
                <div class="row">
                    <div class="col-md-4 w3l-footer one">
                        <h2>Daughters of Mary</h2>

                        <p>
                            <strong>Mottor:</strong>  Ecce Ancilla Domini-Fiat
                        </p>
                        <p class="text-justify">
                            The spirituality of the congregation is based on the five virtues: Charity, Humility, Prayer, Penance and Abandonment to the will of God. The members strive to live out these virtues in their communities and the various apostolates they are engaged in – orphanages, schools, hospitals, homes, and other pastoral engagements.
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-2 w3l-footer two">
                        <h3>Connect With</h3>
                        <ul>
                            <li>
                                <a class="fb" href="#">
                                    <i class="fa fa-facebook"></i>Like us on Facebook
                                </a>
                            </li>
                            <li>
                                <a class="fb1" href="#">
                                    <i class="fa fa-twitter"></i>Follow us on Twitter
                                </a>
                            </li>
                            <li>
                                <a class="fb2" href="#">
                                    <i class="fa fa-google-plus"></i>Add us on Google Plus
                                </a>
                            </li>
                            <li>
                                <a class="fb3" href="#">
                                    <i class="fa fa-dribbble"></i>Follow us on Dribbble
                                </a>
                            </li>
                            <li>
                                <a class="fb4" href="#">
                                    <i class="fa fa-pinterest-p"></i>Follow us on Pinterest
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 w3l-footer one">
                        <h2>Purpose</h2>

                       
                        <p class="text-justify">
                            To work for the glory of God, the honour of the ever Blessed Virgin Mary, for the sanctification of its members and the salvation of souls.
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3 w3l-footer three">
                        <h3>Address</h3>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <p>
                                    Daughters of Mary Mother of Mercy

                                    <span><strong>Our Generalate</strong></span>
                                    P.O Box: 1383
                                </p>
                                <p>
                                    Ahiaeke - Umuahia, Abia State , Nigeria.
                                </p>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <p>234 (0)8123176553</p>
                                <p>234 (0)8037901183</p>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <a href="mailto:info@dmmmg.org">info.dmmmg.org</a>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copy-right-grids">
            <p class="footer-gd">
                © @DateTime.UtcNow.Year DMMMC. All Rights Reserved | Powered by
                <a href="https://exwhyzee.ng/" target="_blank">Exwhyzee</a>
            </p>
        </div>
    </footer>
    <!-- //footer -->
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <script src="~/Content/nivo-slider/demo/scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/client/faq.js"></script>
    <script src="~/Content/nivo-slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                effect: 'fade',
                pauseTime: 10000,
                animSpeed: 4000,                   // Slide transition speed

                controlNav: false,                // 1,2,3... navigation
            });
        });
    </script>
    @RenderSection("scripts", required: false)

    <script>
        $(window).scroll(function () {
            if ($(".navbar").offset().top > 50) {
                $(".fixed-navbar").addClass("top-nav-collapse");

                $('.logo img').attr('src', 'http://dmmmg.org/Content/dmmmwhite.png');
                document.getElementsByClassName("navbar-toggle")[0].setAttribute("style", "margin-right:10px;border: 2px solid #ffffff !important;");
                document.getElementsByClassName("icon-bar")[0].setAttribute("style", "border: 2px solid #ffffff !important;");
                document.getElementsByClassName("icon-bar")[1].setAttribute("style", "border: 2px solid #ffffff !important;");
                document.getElementsByClassName("icon-bar")[2].setAttribute("style", "border: 2px solid #ffffff !important;");
            } else {
                $(".fixed-navbar").removeClass("top-nav-collapse");
                document.getElementsByClassName("navbar-toggle")[0].setAttribute("style", "margin-right:10px;border: 2px solid #3c8dbc !important;");
                document.getElementsByClassName("icon-bar")[0].setAttribute("style", "border: 2px solid #3c8dbc !important;");
                document.getElementsByClassName("icon-bar")[1].setAttribute("style", "border: 2px solid #3c8dbc !important;");
                document.getElementsByClassName("icon-bar")[2].setAttribute("style", "border: 2px solid #3c8dbc !important;");

                $('.logo img').attr('src', 'http://dmmmg.org/Content/dmmblue.png');
            }
        });
    </script>
    @*<script>
              .bg1 {
                background: url(../../Content/dmmblue.png) no-repeat center;
            }
            .bg2 {
                background: url(../../Content/dmmmwhite.png) no-repeat center;
            }
            $(window).scroll(function () {
                if ($(".navbar").offset().top > 50) {
                    $(".lg1").addClass("bg1");
                } else {
                    $(".lg1").removeClass("bg2");
                }
            });
        </script>*@


    <!-- flexSlider -->
    <script defer src="~/Content/client/js/jquery.flexslider.js"></script>

</body>
</html>
